package goob

templ UserDisconnectComponent(user *User) {
	<div hx-swap-oob="beforeend:#chat-room">
		<div class="flex justify-center opacity-50 text-xs">
			<span class="font-bold">{ user.String() } </span>&nbsp;has disconnected
		</div>
	</div>
}
